@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-size: 16px;
  background-color: #161616;
  color: #fff;
}

.Toastify__toast--success {
  background-color: #232323 !important;
}
